extends ./layout/base.pug

block pageCssLink
    link(rel="stylesheet", href="./css/mainPage.css")

block content
    #contentWrapper
        #mainBanner this is mainBanner
        #pageList this is pageList