html
    head
        script(src="https://unpkg.com/axios/dist/axios.min.js")
    body
        #test(style="background-color:red;width:100px;height:100px")
        input.form-control(type="text", name='id', id='id')
        input.form-control(type="text", name='ps', id='ps')
        button.btn.btn-primary(type="button", onclick="login()") Submit
        script.
            function login(){
                console.log("login!");
                axios.post('/',{
                        id: document.querySelector('#id').value,
                        ps: document.querySelector('#ps').value
                    }).then( response =>{
                        const { status } = response.data;

                        if(status === 200){
                            location.href = "/loginSuccess";
                        }else{
                            alert("아이디나 패스워드 틀렸다냥~")
                        }
                        
                    }).catch( err=>{
                        console.log(err);
                    });
            }