doctype
html
    head
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js")

    body
        button(type='button', onclick="login()") 로그아웃
