doctype html
html
    head
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js")
        title
            | home
    body
        p#msg
        button#btn(onclick="location.href='/login'", style="display:none;") 로그인 하러 가기
        button#btn2(onclick="Cookies.remove('sessionKey'); alert('성공적으로 로그아웃 했습니다'); location.href='/';", style="display:none;") 로그아웃
        script.
            let cookie=Cookies.get('sessionKey')//쿠키 가져오기
            if(cookie){
                // 쿠키가 있을 경우
                axios.get('/api/me',{
                    // 서버에서 쿠키를 조회할 수 있을 경우 params를 셋팅 안해도 됨.
                    //- params: {
                    //-     cookie
                    //- }
                }).then( res =>{
                    const { status, name } = res.data;

                    if(status === 200){
                        document.querySelector('#msg').innerHTML=`${name}님 환영함 ^^`;    
                        document.querySelector('#btn2').style=""    
                    }
                }).catch(err=>{
                    Cookies.remove('sessionKey');
                    alert("세션이 만료되었습니다.");
                    location.href = "/";
                })
            }else{
                // 쿠키가 없을 경우
                document.querySelector('#msg').innerHTML="로그인 해라"
                document.querySelector('#btn').style=""
            }
