html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title {{ title }}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    .container(style="padding-top:100px;")
      script.
        document.write('this');
        let isLogin=!{isLogin};
        if(isLogin==true){
          document.write('로그인 중...')
        }
        else{
          document.write('로그인 중이 아님')
        }
        
      block write
